/* Card Layout */

.section__ideas {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #6d6e71;
}

.card__ideas {
  width: 60%;
  border-bottom: 1px solid #d1d3d4;
  padding-bottom: 3vh;
}

/* Card Styling */
h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
}

.card__ideas p {
  font-size: 16px;
  color: #939598;
  margin-bottom: 3vh;
}

.quality--text {
  font-family: 'Roboto Slab', serif;
}

.card--top {
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.card--top h2 {
  display: inline-block;
}

.card--top button {
  display: inline-block;
  float: right;
}

/* button icons */
.button__delete {
  background: url(../images/delete.svg);
  width:30px;
  height:30px;
  border: none;
}

.button__delete:hover {
  background: url(../images/delete-hover.svg);
}

.card--bottom {
  display: flex;
  align-items: center;
}

.button__upvote {
  background: url(../images/upvote.svg);
  width:30px;
  height:30px;
  border: none;
  margin-right: 3%;
}

.button__upvote:hover {
  background: url(../images/upvote-hover.svg);
}

.button__downvote {
  background: url(../images/downvote.svg);
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 3%;
}

.button__downvote:hover {
  background: url(../images/downvote-hover.svg);
}