/* base layer */

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  align-items: center;
  background-color: #e5f3f2;
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: center;
}

.section__search {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
}

/*form*/
.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.input__field {
  align-items: center;
  border: solid 2px rgb(196, 197, 199);
  color: #6d6e71;
  display: flex;
  font-size: 130%;
  height: 4vh;
  margin-top: 4vh;
  padding-left: 1%;
}

.input__body {
  resize: none;
}

::placeholder {
  color: rgb(196, 197, 199);
  font-size: 100%;
}

.button__save {
  align-items: center;
  background-color: #00a79d;
  color: white;
  display: block;
  display: flex;
  font-size: 120%;
  height: 6vh;
  justify-content: center;
  margin-top: 4vh;
}

.button__save:hover {
  background-color: #045e55;
}

/* Search */
.input__search {
  color: #6d6e71;
  font-size: 120%;
  height: 4vh;
  margin-top: 5vh;
  padding-left: 1%;
  width: 59%;
}

/* text and colors */
header {
 font-family: 'Roboto Slab', serif;
 margin-bottom: 5vh;
}

h1 {
  font-size: 7vh;
}

.header--idea {
  color: #00a79d;
}

.header--box {
  color: #6d6e71;
}


/* Responsive media query*/
@media only screen and (max-width: 500px) {

    main {
      height: 50vh;
    }

    .input__field {
      margin-top: 1vh;
    }

    .input__body {
      height: 100px;
      column-count: 5;
    }

    .button__save {
      height: 30px;
    }

    .button__save {
      height: 4vh;
      margin-bottom: 5vh;
    }
}
