/* base layer */

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  background-color: #e5f3f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.section__search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
}

/*form*/
.form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.input__field {
  height: 4vh;
  display: flex;
  align-items: center;
  font-size: 130%;
  color: #6d6e71;
  border: solid 2px rgb(196, 197, 199);
  padding-left: 1%;
  margin-top: 4vh;
}

.input__body {
 resize: none;
}

::placeholder {
  font-size: 100%;
  color: rgb(196, 197, 199);
}

.button__save {
  background-color: #00a79d;
  display: block;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 4vh;
  font-size: 120%;
}

.button__save:hover {
  background-color: #045e55;
}

/* Search */
.input__search {
  width: 59%;
  margin-top: 5vh;
  height: 4vh;
  padding-left: 1%;
  font-size: 120%;
  color: #6d6e71;
}

/* text and colors */
header {
 font-family: 'Roboto Slab', serif;
 margin-bottom: 5vh;
}

h1 {
  font-size: 7vh;
}

.header--idea {
  color: #00a79d;
}

.header--box {
  color: #6d6e71;
}

@media only screen and (max-width: 500px) {

    main {
      height: 50vh;
    }

    .input__field {
      margin-top: 1vh;
    }

    .input__body {
      height: 100px;
      column-count: 5;
    }

    .button__save {
      height: 30px;
    }

    .button__save {
      margin-bottom: 5vh;
      height: 4vh;
    }
}
